<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="width: 400px">
    <h2 class="text-center mb-4">Login</h2>

    <form [formGroup]="form" (ngSubmit)="ingresar()">
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="tu@email.com"
        />
        <div
          *ngIf="form.controls.email.invalid && form.controls.email.touched"
          class="text-danger small"
        >
          Ingresá un email válido
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="mínimo 6 caracteres"
        />
        <div
          *ngIf="
            form.controls.password.invalid && form.controls.password.touched
          "
          class="text-danger small"
        >
          La contraseña debe tener al menos 6 caracteres
        </div>
      </div>

      <!-- accesos rápidos -->
      <div class="mb-3 d-flex gap-2">
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm"
          (click)="completar('admin@demo.com', '123456')"
        >
          Admin demo
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm"
          (click)="completar('alumno@demo.com', '123456')"
        >
          Alumno demo
        </button>
      </div>

      <!-- Botón -->
      <div *ngIf="errorMsg" class="text-danger small mb-2">{{ errorMsg }}</div>
      <div class="d-grid">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid || loading"
        >
          {{ loading ? "Ingresando..." : "Ingresar" }}
        </button>
      </div>

      <div class="mt-3 text-center">
        <a routerLink="/register">¿No tenés cuenta? Registrate</a>
      </div>
    </form>
  </div>
</div>
