<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="width: 400px">
    <h2 class="text-center mb-4">Login</h2>

    <form [formGroup]="form" (ngSubmit)="ingresar()" novalidate>
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="tu@email.com"
          [class.is-invalid]="submitted && f.email.invalid"
          aria-describedby="emailHelp"
          [attr.aria-invalid]="submitted && f.email.invalid ? 'true' : null"
        />
        <div
          id="emailHelp"
          class="invalid-feedback"
          *ngIf="submitted && f.email.errors"
        >
          <span *ngIf="f.email.errors?.['required']"
            >El email es obligatorio.</span
          >
          <span *ngIf="f.email.errors?.['email']"
            >Ingresá un email válido.</span
          >
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="mínimo 6 caracteres"
          [class.is-invalid]="submitted && f.password.invalid"
          aria-describedby="passHelp"
          [attr.aria-invalid]="submitted && f.password.invalid ? 'true' : null"
        />
        <div
          id="passHelp"
          class="invalid-feedback"
          *ngIf="submitted && f.password.errors"
        >
          <span *ngIf="f.password.errors?.['required']"
            >La contraseña es obligatoria.</span
          >
          <span *ngIf="f.password.errors?.['minlength']"
            >Debe tener al menos 6 caracteres.</span
          >
        </div>
      </div>

      <!-- accesos rápidos -->
      <div class="mb-3 d-flex gap-2">
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm"
          (click)="completar('admin@demo.com', '123456')"
        >
          Admin demo
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm"
          (click)="completar('alumno@demo.com', '123456')"
        >
          Alumno demo
        </button>
      </div>

      <!-- Mensaje de error del login -->
      <div
        *ngIf="errorMsg"
        class="text-danger small mb-2"
        role="alert"
        aria-live="polite"
      >
        {{ errorMsg }}
      </div>

      <!-- Botón -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary" [disabled]="loading">
          {{ loading ? "Ingresando..." : "Ingresar" }}
        </button>
      </div>

      <div class="mt-3 text-center">
        <a routerLink="/register">¿No tenés cuenta? Registrate</a>
      </div>
    </form>
  </div>
</div>
