<nav class="navbar navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Sala de Juegos</a>

    <ul class="navbar-nav flex-row gap-3 align-items-center">
      <!-- Siempre visibles -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/quien-soy">Quién Soy</a>
      </li>

      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" routerLink="/admin/encuestas">Encuestas (Admin)</a>
      </li>

      <!-- SOLO si NO está logueado -->
      <ng-container *ngIf="!isLogged()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registro</a>
        </li>
      </ng-container>

      <!-- SOLO si está logueado -->
      <ng-container *ngIf="isLogged()">
        <li class="nav-item text-secondary small d-none d-md-block">
          {{ userEmail() }}
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-light btn-sm" (click)="logout()">
            Log Out
          </button>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>

<a
  *ngIf="isLogged()"
  routerLink="/chat"
  class="chat-fab"
  title="Abrir chat"
  aria-label="Abrir chat"
  >💬</a
>

<router-outlet></router-outlet>
